@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";


body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $primary;
}

.cart-icon-li {
  background-color: $primary;

  &:hover {
    background-color: #ccc;
  }
}

nav ul li {
  transition: $smooth;
  &:hover {
    color: #ccc;
  }
}

.hero {
  background-color: $prim-hover;
  height: calc(100vh - 120px);
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background-color: $primary;
    border: 2px solid white;
    color: white;
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background-color: $secondary;
  }
}

.empty-cart {
  background-color: $prim-hover;
  height: calc(100vh - 120px);
}

.total-price-tag {
  color: $primary;
}

section.login {
  background-color: $prim-hover;
  min-height: calc(100vh - 120px);

  a {
    color: $primary;
    transition: $smooth;
    &:hover {
      color: #ccc;
    }
  }
}

section.register {
  background-color: $prim-hover;
  min-height: calc(100vh - 120px);

  a {
    color: $primary;
    transition: $smooth;
    &:hover {
      color: #ccc;
    }
  }
}

section.order {
  background-color: $prim-hover;
  min-height: calc(100vh - 120px);
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

a.link {
  color: $secondary;
}
