body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #181241;
}

.cart-icon-li {
  background-color: #181241;
}
.cart-icon-li:hover {
  background-color: #ccc;
}

nav ul li {
  transition: all 300ms ease-in-out;
}
nav ul li:hover {
  color: #ccc;
}

.hero {
  background-color: #F7EBFF;
  padding: 8rem 0;
}
