body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #181241;
}

.cart-icon-li {
  background-color: #181241;
}
.cart-icon-li:hover {
  background-color: #ccc;
}

nav ul li {
  transition: all 300ms ease-in-out;
}
nav ul li:hover {
  color: #ccc;
}

.hero {
  background-color: #F7EBFF;
  padding: 8rem 0;
}

.add-to-cart {
  border: 2px solid #181241;
  color: #181241;
  transition: all 300ms ease-in-out;
}
.add-to-cart:hover {
  background-color: #181241;
  border: 2px solid white;
  color: white;
}

.btn-primary {
  background: #181241;
  transition: all 300ms ease-in-out;
}
.btn-primary:hover {
  background-color: #483C71;
}

.empty-cart div {
  background-color: #F7EBFF;
}

.total-price-tag {
  color: #181241;
}

section.login {
  background-color: #F7EBFF;
  min-height: calc(100vh - 120px);
}
section.login a {
  color: #181241;
  transition: all 300ms ease-in-out;
}
section.login a:hover {
  color: #ccc;
}

section.register {
  background-color: #F7EBFF;
  min-height: calc(100vh - 120px);
}
section.register a {
  color: #181241;
  transition: all 300ms ease-in-out;
}
section.register a:hover {
  color: #ccc;
}
